*.log
*.swp
*.sublime-project
*.sublime-workspace
.serverless/*
.DS_Store
.cache/*
.coveralls.yml
.coverage
.coverage/*
.Python
.serverless/*
.venv/*
__pycache__/*
config.py
htmlcov/*
notes.txt
node_modules/*
package-lock.json
pip-selfcheck.json